$color: gray;

$small : "only screen and (max-width:576px)";
$medium: "only screen and (min-width:577px) and (max-width:992px)";
$large : "only screen and (min-width:993px)";

body {
  color: $color;

  &::after {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;

    @media #{$small} {
      content: 'small';
    }

    @media #{$medium} {
      content: 'medium';
    }

    @media #{$large} {
      content: 'large';
    }
  }
}

.flex {
  display: flex;
}
